/* .section{
  padding-top:40px ;
  padding-bottom: 40px;
}
.main-heading{
  color: green;
  font-size: 26px;
}
.underline{
  height: 04px;
  width: 4rem;
  background-color: green;
  margin-top: 10px;
  margin-bottom:10px;
}
.bg-C-light{
  background-color: #f2f2f2;
} */
 /* Apply Background Color to Entire Website */
body {
  background-color: #87e78c; /* Change this color as needed */
  color: #333; /* Default text color */
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}
